.iconsContainer a {
	text-decoration: none;
	color: #000;
}
.iconsContainer {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	max-width: 600px;
	width: 100%;
	display: flex;
}
.iconsSubContainer {
	margin: 10px;
	display: flex;
	width: 100%;
	justify-content: flex-end;
}
.body {
	padding-bottom: 100px;
	background: linear-gradient(to top, #ffb8b6, #ffffff);
}

.contentContainer {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.subjetContainer {
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 10px;
}
.quoiContainer {
	margin-top: 70px;
}

.quiContainer {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.textAlignEnd {
	text-align: end;
}
.quiSubContainer {
	display: flex;
	align-items: flex-end;
	margin-bottom: 15px;
}
.gaspardContainer {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
.walidContainer {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	margin-bottom: 15px;
}
.quoiSecondParaph {
	margin-top: 5px;
}

.h1 {
	font-size: 5rem;
	margin-bottom: 0;
}
@media screen and (max-width: 670px) {
	.h1 {
		font-size: 3rem;
		letter-spacing: -2px;
	}
}
.h2 {
	margin-bottom: 0;
	color: #ed2100;
}
