.iconContainer {
	padding: 5px;
	border-radius: 5px;
	background-color: rgb(236, 236, 236);
	cursor: pointer;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.iconContainer:hover {
	background-color: rgb(202, 202, 202);
}
.iconContainer:not(:last-child) {
	margin-right: 10px;
}
