/* Global */

@font-face {
	font-family: "Geist-Regular";
	src: url("./assets/Geist-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
html {
	height: 100%;
}
body {
	background: linear-gradient(to top, #ffb8b6, #ffffff);
	height: 100%;
	font-family: "Geist-Regular", sans-serif;
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
}
img,
svg {
	display: block;
}

/* Logo du haut */

#logo-img {
	width: 30vh;
	height: 30vh;
}

/* Icones du haut */

#icons-container a {
	text-decoration: none;
	color: #000;
}
#icons-container {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	max-width: 600px;
	width: 100%;
	display: flex;
}
#icons-sub-container {
	margin: 10px;
	display: flex;
	width: 100%;
	justify-content: space-between;
}
#three-icons-container {
	display: flex;
}
.icon-container {
	padding: 5px;
	border-radius: 5px;
	background-color: rgb(236, 236, 236);
	cursor: pointer;
}
.icon-container:hover {
	background-color: rgb(202, 202, 202);
}
.icon-container:not(:last-child) {
	margin-right: 10px;
}

/* Lien vers les plateformes */

#platforms-container a {
	color: white;
	text-decoration: none;
}
#platforms-container {
	margin-top: 4vh;
	display: flex;
	justify-content: center;
}
#logo-container {
	padding-top: 55px;
	display: flex;
	justify-content: center;
}
.platform-button {
	background-color: black;
	color: white;
	border-radius: 15px;
	border: 3px solid #000;
	padding: 5px;
	cursor: pointer;
}
.platform-button:hover {
	background-color: white;
}
.platform-button:hover p {
	color: #000;
}
.platform-button:not(:last-child) {
	margin-bottom: 20px;
}
.logo-in-card {
	border-radius: 10px;
}
.card-content {
	display: flex;
	align-items: center;
}

.text-and-platform {
	width: 270px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 374px) {
	.text-and-platform {
		width: 240px;
	}
}

/* Popups */

#toast {
	display: none;
	margin-right: 10px;
	color: darkseagreen;
}

#popup-content {
	background-color: #fff;
	width: 500px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
	position: relative;
	height: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media screen and (max-width: 670px) {
	#popup-content {
		width: 92vw;
	}
}
.platform-logo-in-card {
	margin-left: 5px;
}

#popup {
	display: none;
	position: fixed;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100000;
}

#close-icon {
	border-radius: 5px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	background-color: rgb(236, 236, 236);
}

#toast-bell-popup-content {
	display: none;
	color: darkseagreen;
}

input[type="submit"] {
	font-size: 18px;
	font-weight: bold;
	background-color: #ffb8b6;
	font-family: "Geist-Regular", sans-serif;
	border: none;
	padding: 11px;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
	color: #000;
	margin-top: 15px;
}

input[type="email"] {
	margin-top: 15px;
	height: 25px;
	border-radius: 5px;
	font-size: 16px;
	font-family: "Geist-Regular", sans-serif;
	border: 2px black solid;
}

input[type="submit"]:hover {
	background-color: #ffcfcd;
}

#span-bold {
	font-weight: bold;
}

#inside-form {
	display: flex;
	flex-direction: column;
}

#toast-bell-popup-content {
	text-align: center;
}

#form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 40px;
}

#bell-popup-content {
	display: none;
}

#bell-popup-content a {
	text-decoration: none;
}

#mail-popup-content {
	margin: 30px;
	display: none;
}

#share-popup-content {
	color: darkseagreen;
	display: none;
	margin: 30px;
	text-align: center;
}
