@font-face {
	font-family: "Geist-Regular";
	src: url("./assets/Geist-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
body,
html {
	font-family: "Geist-Regular", sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	text-align: center;
}

.container img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.container p {
	font-size: 20px;
}
